In [1]:
import glob
import pandas as pd
import pickle
import csv

from collections import Counter
from itertools import chain

from ipynb.fs.full.utils_functions import load_corpus

In [2]:
# Getting data.
data, original_data = load_corpus()

In [3]:
st = []
for lst in data:
    st += lst

In [4]:
distribution_words = Counter(st)
df_distribution = pd.DataFrame(data={'word': list(distribution_words.keys()), 'counter': list(distribution_words.values())})

In [5]:
df_distribution.count()

word       1491
counter    1491
dtype: int64

# Least repeated words

In [26]:
df_distribution.sort_values('counter').head(50)

                word  counter
1445          jodido        3
1296          siento        3
1490            deep        4
1469           culia        4
1405  @5493534134937        4
1184          piedra        4
1453        prometer        4
1370           lente        4
1235           medio        4
1397          besote        4
1019            coca        4
1014         galleta        4
1106           jugas        5
1461        semanero        5
1438           ficha        5
759          ofrecer        5
633             juan        5
558         imprimir        5
1457        pampeano        5
1030         netflix        5
1389          cartel        5
640           compre        5
1332           carta        5
1308        promedio        5
374            locos        5
1135          tiempo        5
1407          crecer        5
283             masa        5
801          laburas        5
1346         aceptar        5
805        compramos        5
1268            capi        5
1073         gregory        5
1341          evento        5
1482  @5493518136361        5
1055          fijate        5
1480          blanto        5
1279          online        5
1393             mañ        5
1477        milhouse        5
1177           manda        5
1360        comisión        5
1474       disculpar        5
1337         botella        5
1127          tupper        6
1409          demora        6
645           parado        6
1040          copado        6
96             rapid        6
1396        desayuno        6

# Most repeated words

In [7]:
df_distribution.sort_values('counter', ascending=False).head(20)

        word  counter
42    mañana      609
40      casa      360
33    gracia      355
223    venir      351
53    hablar      296
642     onda      272
27       aca      258
24   esperar      252
70     salir      251
522  hermano      246
133    comer      244
17    llegar      243
235   lindar      224
21   comprar      223
175   volver      218
286    amigo      218
116      acá      218
382     hora      216
196    hacer      209
122      dar      200

# Remove specifict words

In [25]:
# Getting data.
data, original_data = load_corpus()
removed = {
    'omitted':'',
    'jeje':'',
    'ero':'',
    'vos':'',
    '..':'',
    '...':'',
    '....':'',
    '.....':'',
    'media':'',
    'location':'',
    'missed':'',
    'res':'',
}
# Remove words which appears more than 50% of times.
for word in distribution_words:
    if min(len(distribution_words),len(data)) * 0.4 < distribution_words[word]:
        print(word)
        removed[word] = ''
new_data = []
for phrase in data:
    new_phrase = []
    for word in phrase:
        if word in removed:
            continue
        new_phrase.append(word)
    new_data.append(new_phrase)
data=new_data.copy()

mañana

In [21]:
removed

{'omitted': '',
 'jeje': '',
 'ero': '',
 'vos': '',
 '..': '',
 '...': '',
 '....': '',
 '.....': '',
 'media': '',
 'location': '',
 'missed': '',
 'res': '',
 'mañana': ''}

# Dumping data to overwrite corpus

In [ ]:
with open('data/text2corpus/corpus_messages.txt', 'wb') as f:
    pickle.dump(data, f)
with open('data/text2corpus/corpus_original_messages.txt', 'wb') as f:
    pickle.dump(original_data, f)